.root {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $colorWhite;
  border-bottom: 2px solid $colorLight04;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $s-xs;
  padding-bottom: $s-xs;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $s-xs;
}

.logo {
  width: 44px;
  height: 44px;
  transition: all 0.3s linear;

  &:hover {
    fill: $colorBrand;
  }
}

.link {
  text-decoration: none;
  color: $colorDark01;
  font-size: large;
  font-weight: 700;
}

.navIcon {
  fill: $colorDark01;
  transition: all 0.3s linear;

  &:hover {
    fill: $colorBrand;
  }
}

.logoLink {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: color 0.3s linear;

  &:hover {
    color: $colorBrand;
  }
}

.navLink {
  position: relative;
  padding: 4px 0;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $colorBrand;
    transition: width 0.3s linear;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
