.cardList {
  display: grid;
  gap: $s-xs;

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  font-size: 34px;
  line-height: 1.35;
  letter-spacing: 0.34;
  font-weight: 700;
  margin-bottom: $s-m;
}

.noFavorites {
  margin: 0 auto;
  width: fit-content;
  font-size: 34px;
  line-height: 1.35;
  letter-spacing: 0.34;
  font-weight: 600;
}

.progress {
  margin: 0 auto;
  width: fit-content;
}
