.root {
  background-color: $colorLight04;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $s-xs;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.44;
  text-align: center;

  & .slogo {
    color: $colorBrand;
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $s-2xs;
}

.input {
  border: none;
  padding: $s-xs;
  margin-bottom: $s-2xs;
}
